In [70]:
import pandas as pd
import os
import glob
import math

In [94]:
#where the data files are located
folder = "DD11_Short"
all_files = glob.glob(folder + "/*.csv")
newfolder = "frequencies"
subject = folder.split("_")[0]

# analyze each file in the folder
for filename in all_files:
    #print(filename + " started")
    file = filename.split('.')[0]
    df = pd.read_csv(filename, index_col=False, header=None, names = ["C1","C2"])
    #column 1
    #print("column 1")
    # set bin size to be 60 second
    bins = range(0,math.ceil(df.C1.max())+1,60)
    # cut into bins
    df2 = pd.DataFrame()
    df2["range"] = pd.cut(df.C1, bins)
    df3 = pd.DataFrame({'count' : df2.groupby(df2["range"],as_index=False).size()}).reset_index()
    df3["Frequency1"] = df3["count"]/60
    df5 = pd.DataFrame()
    if df.C2.notnull().any():
        #column 2
       # print("column 2")
        # set bin size to be 1 second
        df4=pd.DataFrame()
        bins2 = range(0,math.ceil(df.C2.max()),60)
        # cut into bins
        df4["range2"] = pd.cut(df.C2, bins2)
        #bins into another DataFrame
        df4 = pd.DataFrame({'count2' : df2.groupby(df4["range2"],as_index=False).size()}).reset_index()
        #count into frequency
        df4["Frequency2"] = df4["count2"]/60
        df5 = pd.concat([df3,df4], axis = 1)
    else:
        print("skipping column 2")
        df3.to_csv(newfolder + "/" + file + "_frequency.csv")
    #print(filename + " finished")
    df5.to_csv(newfolder + "/" + file + "_frequency.csv")
print("All Done")

skipping column 2
skipping column 2
skipping column 2
skipping column 2
All Done

In [95]:
# create single file with all frequencies
path = newfolder + "/" + folder 
freq_files = glob.glob(path + "/*.csv")

li = []

for filename in freq_files:
    fdf = pd.read_csv(filename, index_col=0, header=0)
    li.append(fdf)

frame = pd.concat(li, axis=0, ignore_index=True,sort = True)
frame = frame.drop(["count","count2","range","range2"],axis=1)
big_path = subject
frame.to_csv(subject + "_forhist.csv")

In [91]:
frame

      Frequency1  Frequency2   count  count2           range          range2
0      10.133333    1.116667   608.0      67         (0, 60]         (0, 60]
1      10.550000    1.050000   633.0      63       (60, 120]       (60, 120]
2       5.616667    1.333333   337.0      80      (120, 180]      (120, 180]
3       3.300000    1.266667   198.0      76      (180, 240]      (180, 240]
4       6.583333    0.816667   395.0      49      (240, 300]      (240, 300]
5      14.683333    0.866667   881.0      52      (300, 360]      (300, 360]
6      22.133333    0.716667  1328.0      43      (360, 420]      (360, 420]
7       9.800000    0.983333   588.0      59      (420, 480]      (420, 480]
8      17.933333    1.200000  1076.0      72      (480, 540]      (480, 540]
9       4.700000    1.600000   282.0      96      (540, 600]      (540, 600]
10      5.250000    1.133333   315.0      68      (600, 660]      (600, 660]
11      4.766667    1.250000   286.0      75      (660, 720]      (660, 720]
12     10.400000    1.266667   624.0      76      (720, 780]      (720, 780]
13     18.483333    0.750000  1109.0      45      (780, 840]      (780, 840]
14      9.850000    0.450000   591.0      27      (840, 900]      (840, 900]
15     10.400000    0.383333   624.0      23      (900, 960]      (900, 960]
16     16.233333    0.850000   974.0      51     (960, 1020]     (960, 1020]
17     13.433333    0.283333   806.0      17    (1020, 1080]    (1020, 1080]
18     15.150000    0.700000   909.0      42    (1080, 1140]    (1080, 1140]
19     13.500000    0.733333   810.0      44    (1140, 1200]    (1140, 1200]
20     14.750000    0.850000   885.0      51    (1200, 1260]    (1200, 1260]
21      8.416667    1.066667   505.0      64    (1260, 1320]    (1260, 1320]
22      2.383333    1.066667   143.0      64    (1320, 1380]    (1320, 1380]
23      1.533333    1.216667    92.0      73    (1380, 1440]    (1380, 1440]
24      0.116667    0.783333     7.0      47    (1440, 1500]    (1440, 1500]
25      0.850000    1.016667    51.0      61    (1500, 1560]    (1500, 1560]
26      9.383333    0.500000   563.0      30    (1560, 1620]    (1560, 1620]
27     15.616667    0.533333   937.0      32    (1620, 1680]    (1620, 1680]
28     11.833333    0.283333   710.0      17    (1680, 1740]    (1680, 1740]
29      6.966667    0.683333   418.0      41    (1740, 1800]    (1740, 1800]
...          ...         ...     ...     ...             ...             ...
3958    6.216667    2.133333   373.0     128  (18360, 18420]  (18360, 18420]
3959    0.016667    0.000000     1.0       0  (18420, 18480]  (18420, 18480]
3960    1.466667    0.583333    88.0      35  (18480, 18540]  (18480, 18540]
3961    4.166667    1.633333   250.0      98  (18540, 18600]  (18540, 18600]
3962    0.416667    0.650000    25.0      39  (18600, 18660]  (18600, 18660]
3963    0.983333    0.183333    59.0      11  (18660, 18720]  (18660, 18720]
3964    0.433333    0.133333    26.0       8  (18720, 18780]  (18720, 18780]
3965    0.150000    0.033333     9.0       2  (18780, 18840]  (18780, 18840]
3966    0.033333    0.000000     2.0       0  (18840, 18900]  (18840, 18900]
3967    1.400000    0.950000    84.0      57  (18900, 18960]  (18900, 18960]
3968    1.883333    1.083333   113.0      65  (18960, 19020]  (18960, 19020]
3969    2.750000    3.716667   165.0     223  (19020, 19080]  (19020, 19080]
3970    0.366667    1.033333    22.0      62  (19080, 19140]  (19080, 19140]
3971    5.500000    1.850000   330.0     111  (19140, 19200]  (19140, 19200]
3972    5.416667    2.850000   325.0     171  (19200, 19260]  (19200, 19260]
3973    3.300000    1.766667   198.0     106  (19260, 19320]  (19260, 19320]
3974    1.616667    0.683333    97.0      41  (19320, 19380]  (19320, 19380]
3975    3.550000    0.533333   213.0      32  (19380, 19440]  (19380, 19440]
3976    2.083333    0.750000   125.0      45  (19440, 19500]  (19440, 19500]
3977    6.150000    1.116667   369.0      67  (19500, 19560]  (19500, 19560]
3978    4.966667    2.566667   298.0     154  (19560, 19620]  (19560, 19620]
3979   11.083333    1.966667   665.0     118  (19620, 19680]  (19620, 19680]
3980    9.216667    3.216667   553.0     193  (19680, 19740]  (19680, 19740]
3981    8.333333    3.233333   500.0     194  (19740, 19800]  (19740, 19800]
3982   11.283333    4.566667   677.0     274  (19800, 19860]  (19800, 19860]
3983    7.400000    3.800000   444.0     228  (19860, 19920]  (19860, 19920]
3984    7.300000    1.333333   438.0      80  (19920, 19980]  (19920, 19980]
3985    4.350000    0.983333   261.0      59  (19980, 20040]  (19980, 20040]
3986    0.433333    1.083333    26.0      65  (20040, 20100]  (20040, 20100]
3987    1.566667    1.550000    94.0      93  (20100, 20160]  (20100, 20160]

[3988 rows x 6 columns]