In [1]:
import pandas as pd
import glob
import numpy as np
import os

In [21]:
#df = pd.read_csv(filename, header = 0, index_col = None)
#where the data files are located
folder = "DD11_Short"
all_files = glob.glob(folder + "/*.csv")
newfolder = "interspike_int"
subject = folder.split("_")[0]

# analyze each file in the folder
for filename in all_files:
    print(filename + " started")
    file = filename.split('.')[0]
    df = pd.read_csv(filename, index_col=False, header=None, names = ["C1","C2"])
    df = df.stack(dropna=True).reset_index(drop=True)
    df = df.sort_values()
    df2 = pd.DataFrame(columns = ["ISI1"])
    #make new DataFrame with columns
    df2["ISI1"] = df.diff()
    df2.to_csv(newfolder + "/" + file + "_ISI_overall.csv")
print("All Done")

DD11_Short/1_30.csv started
DD11_Short/1_31.csv started
DD11_Short/3_27.csv started
DD11_Short/3_26.csv started
DD11_Short/4_11.csv started
DD11_Short/4_10.csv started
DD11_Short/3_25.csv started
DD11_Short/3_14.csv started
DD11_Short/3_12.csv started
DD11_Short/3_11.csv started
DD11_Short/2_21.csv started
DD11_Short/2_19.csv started
All Done

In [20]:
df2

          ISI1
1          NaN
3       0.2154
5       0.0126
7       0.0546
9       0.0596
11      0.0104
13      0.0158
15      0.0134
17      0.0102
19      0.0154
21      0.0158
0       0.0542
23      0.0230
25      0.0266
27      0.0120
29      0.0162
31      0.0212
33      0.0262
35      0.0144
37      0.0114
39      0.0108
2       0.0146
4       0.0460
41      0.0216
43      0.0228
45      0.0128
47      0.0146
49      0.0184
51      0.0134
53      0.0252
...        ...
233967  0.0102
233968  0.0338
233969  0.0712
233970  0.0450
233971  0.0678
233972  0.0402
233973  0.0260
233974  0.0292
233975  0.0240
233976  0.0708
233977  0.4592
233978  0.1970
233979  0.0362
35550   0.0212
233980  0.0150
233981  0.0206
35552   0.0462
35554   0.0218
35556   0.0406
35558   0.0382
233982  0.0420
35560   0.0302
35562   0.0324
35564   0.1974
35566   0.2766
233983  0.0218
233984  0.0146
233985  0.0452
35568   0.0826
35570   0.0126

[233986 rows x 1 columns]